@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500);

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-weight: 300;
  font-family: 'Open Sans Condensed';
}

.album {
  width: 300px;
  height: 300px;
}

.playing {
  opacity: 	0.5;
}

.tracks .btn {
  margin-left: 2.5em;
}