<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Spotify Template</title>
	
	<!-- Include libraries -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>

    <link rel="stylesheet" href="app.css"/>
	
	<!-- our code: Webpack takes care of everything -->
	<script src="app.js"></script>
	
</head>
<body>
  <!-- Initiate app -->
  <div ng-app="myApp" ng-controller="myCtrl">
    <!-- Form -->
    <div class="container" name="songForm">
      <h1>Spotify Track Search</h1>
      <div class="col-md-6">
        <h2>Search</h2>
        <form ng-submit="getSongs()">
          <label>Tracks:</label>
          <input name="search" placeholder="Enter your search.." ng-model="track" class="form-control"></input>
          <button type="submit" class="btn btn-primary" type="button">Search</button>
        </form>
        <!-- Only show results when we have them -->
        <div class="tracks" ng-show="tracks" ng-repeat="track in tracks">
          <!-- Show each track, and create and element for it -->
          <div class="well">
            <h3>{{track.title}}</h3>
            <a ng-click="play(track)"><img ng-src="{{track.img}}" alt=""/></a>
            <button ng-click="addToFavorites(track)" class="btn btn-primary">Favorite</button>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <h2> Favorite Songs </h2>
        <div class="tracks" ng-show="favorites" ng-repeat="track in favorites">
          <!-- Show each track, and create and element for it -->
          <div class="well">
            <h3>{{track.title}}</h3>
            <a ng-click="play(track)"><img ng-src="{{track.img}}" alt=""/></a>
            <button ng-click="removeFromFavorites(track)" class="btn btn-danger">Remove</button>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</body>
</html>